@keyframes keyFade {
 0%   { opacity: 0; }
 25%  { opacity: 1; }
 65%  { opacity: 1; }
 100% { opacity: 0; }
}

@keyframes keyHold {
 0%   { opacity: 0; }
 25%  { opacity: 1; }
 65%  { opacity: 1; }
 100% { opacity: 0; }
}

.key--letter {
 animation-fill-mode: forwards;
}

.key--letter.fade {
 animation-name: keyFade;
 animation-duration: 0.8s;
 animation-timing-function: ease;
}

.key--letter.hold {
 animation-name: keyHold;
 animation-duration: 5s;
 animation-timing-function: ease;
}
