body,html{
 background-color: F9F9F9;
}

/* key letter */
.key--letters{
 position: absolute;
}
.key--letter{
 font-family: Helvetica;
 position: absolute;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 opacity: 1;
}
.hidden {
 opacity: 0;
}
.key--letter--active{
 color: #1E4BE0;
}

/* key number */
.key--number{
 font-family: Arial;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 1;
}
.key--number:hover,
.key--number--active{
 color: #3C2570;
}

/* key container and row */
.key--letter-number{
 position: relative;  
  display: block;
  width: 100%;         
  height: clamp(.7rem, 4vw, 5.3rem);
}
.key--row-1{
 display: flex;
 gap: .5em;
 height: fit-content;
 justify-content: space-around;
 width: 100%;
 position: relative;
}
.key--row-1:nth-of-type(2) {
 padding-top: clamp(0.1em, 2vw, .7em);
}

#key{
 margin: 1em;
}



/* all text in helvetica */
.blue-text{
 font-family: Helvetica;
 font-weight: bold;
 color: #1E4BE0;
 mix-blend-mode: multiply;
 font-size: 3em;
}



.gold-text{
 font-family: Helvetica;
 font-weight: bold;
 color: #8E7700;
 mix-blend-mode: multiply;
 font-size: 3em;
}
.grey-gold-text{
 font-family: Helvetica;
 font-weight: bold;
 color: #B5B5B5;
 mix-blend-mode: multiply;
 font-size: 3em;
}
.grey-gold-text--active{
 color: #8E7700;
}
button{
 
 mix-blend-mode: multiply;
 font-size: 3em;

 color: #8E7700;
}