body,html{
 background-color: F9F9F9;
}

/* key letter */
.key--letters{
 position: absolute;
}
.key--letter{
 font-family: Helvetica;
 position: absolute;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 opacity: 1;
}
.hidden {
 opacity: 0;
}
.key--letter--active{
 color: #1E4BE0;
}

/* key number */
.key--number{
 font-family: Arial;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 1;
}
.key--number:hover,
.key--number--active{
 color: #3C2570;
}

/* containers */
.key--letter-number{
 position: relative;  
  display: block;
  width: 100%;         
  height: clamp(.7rem, 4vw, 5.3rem);
}
.key--row{
 display: flex;
 gap: .5em;
 height: fit-content;
 justify-content: space-around;
 width: 100%;
 position: relative;
}
.key--row:nth-of-type(2) {
 padding-top: clamp(0.05em, 2vw, .4em);
}
#key,
#menu-about,
#descriptive-text{
 margin: clamp(10px, 20px, 30px);
}
#menu{
 display: flex;
 justify-content: space-between;
 text-align: center;
}
