body,html{
 background-color: F9F9F9;
}

/* key letter */
.key--letters{
 position: absolute;
}
.key--letter{
 font-family: Helvetica;
 position: absolute;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 opacity: 1;
}
.hidden {
 opacity: 0;
}
.selected{
 color: #1E4BE0;
}


/* key number */
.key--number{
 font-family: Arial;
 position: absolute;
 color: #3C2570;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 1;
}
.key--number:hover,
.key--number--active{
 color: #3C2570;
}

/* containers */
.key--letter-number{
 position: relative;  
  display: block;
  width: 100%;         
  height: clamp(.7rem, 4vw, 5.3rem);
}
.key--letter-number.end-ln{
 position: relative;  
  display: block;
  width: 100%;         
  height: clamp(1.1rem, 5.8vw, 7rem);
}
.key--letter-number.key--letter.selected.end.end-symbol,
.key--letter-number.key--letter.selected.end.end-symbol-left{
  width: 10%;         
}
.key--letter-number.key--letter.selected.end.end-symbol-space{
 width: 80%;         
}
.end-symbol{
 text-align: center;
}
.end-symbol-left{
 text-align: left;
}
.key--row{
 display: flex;
 gap: .5em;
 height: fit-content;
 justify-content: space-around;
 width: 100%;
 position: relative;
}
.key--row:nth-of-type(2) {
 padding-top: clamp(0.05em, 2vw, .4em);
}
#key{
 margin-left: clamp(10px, 20px, 30px);
 margin-right: clamp(10px, 20px, 30px);
 margin-bottom: clamp(5px, 10px, 15px);
 margin-top: clamp(10px, 20px, 30px);
}
#end{
 margin-left: clamp(10px, 20px, 30px);
 margin-right: clamp(10px, 20px, 30px);
 margin-bottom: 0;
 margin-top: clamp(5px, 5px, 10px);
}
#descriptive-text{
 margin-left: clamp(10px, 20px, 30px);
 margin-right: clamp(10px, 20px, 30px);
 margin-bottom: clamp(10px, 20px, 30px);
 margin-top: 0;
}
#pangrams{
 margin-left: clamp(10px, 20px, 30px);
 margin-right: clamp(10px, 20px, 30px);
 margin-bottom: clamp(10px, 20px, 30px);
 margin-top: 25vh;
 display: flex;
 align-items: center;
}
#pangram-1{

}
#menu-about{
 margin-left: clamp(10px, 20px, 30px);
 margin-right: clamp(10px, 20px, 30px);
 margin-bottom: clamp(5px, 10px, 15px);
 margin-top: 0;
 position: fixed;
 bottom: 0;
}
#level{
 margin-left: clamp(10px, 20px, 30px);
 margin-right: clamp(10px, 20px, 30px);
 margin-bottom: 0;
 align-items: center;
 text-align: center;
}
#menu{
 grid-template-columns: repeat(3, 1fr);
 display: grid;
 margin-bottom: clamp(5px, 10px, 15px);
}
.menu--about{
text-align: left;
grid-column: 1/2;
}
.menu--home{
 text-align: center;
 grid-column: 2/3;
}
.menu--link{
 text-align: end;
 grid-column: 3/4;
}
