.key--letter,
.key--number {
 font-size: clamp(.7rem, 4vw, 5.3rem);
 color: #B5B5B5;
 font-weight: bold;
 mix-blend-mode: multiply;
}
.end{
 font-size: clamp(1.3rem, 6vw, 8rem);
}

/* #level{
 font-size: clamp(.7rem, 4vw, 5.3rem);
} */

.pangram-letter{
 font-family: Helvetica;
 font-size: clamp(.7rem, 4vw, 5.3rem);
 color: #1E4BE0;
 font-weight: bold;
 mix-blend-mode: multiply;
 opacity: 0;
}
.symbol{
 opacity: 1;
}
.text{
 font-family: Helvetica;
 font-size: clamp(.5rem, 3vw, 2.3rem);
 color: #B5B5B5;
 font-weight: bold;
 mix-blend-mode: multiply;
}
.menu{
 font-family: Helvetica;
 font-size: clamp(.7rem, 2vw, 2.3rem);
 color: #1E4BE0;
 font-weight: bold;
 mix-blend-mode: multiply;
}
#level{
 font-size: clamp(.8rem, 4vw, 6.3rem);
}
#level-number--active{
 color: #3C2570;
}
em{
 color: #8E7700;
 font-family: arial;
}

