/* all numbers in arial */
.key--number{
 font-family: Arial;
 font-weight: bold;
 color: #B5B5B5;
 mix-blend-mode: multiply;
 font-size: 3em;
}
.key--number:hover,
.key--number--active{
 color: #3C2570;
}

/* all text in helvetica */
.blue-text{
 font-family: Helvetica;
 font-weight: bold;
 color: #1E4BE0;
 mix-blend-mode: multiply;
 font-size: 3em;
}
.key--letter{
 font-family: Helvetica;
 font-weight: bold;
 color: #B5B5B5;
 mix-blend-mode: multiply;
 font-size: 3em;
}
.key--letter--active{
 color: #1E4BE0;
}

.gold-text{
 font-family: Helvetica;
 font-weight: bold;
 color: #8E7700;
 mix-blend-mode: multiply;
 font-size: 3em;
}
.grey-gold-text{
 font-family: Helvetica;
 font-weight: bold;
 color: #B5B5B5;
 mix-blend-mode: multiply;
 font-size: 3em;
}
.grey-gold-text--active{
 color: #8E7700;
}
button{
 
 mix-blend-mode: multiply;
 font-size: 3em;

 color: #8E7700;
}

